.App {
  color: #23272F;
}

.App.dark {
  color: #F3F4F6
}

.btn {
  height: fit-content;
  text-decoration: none;
  padding: 8px 20px;
  margin: 5px 5px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
}

.btn-primary {
  color: #F3F4F6;
  background-color: #087A9E ;
}

.btn-secondary {
  color: #23272F;
  border: 1px solid #D9DBE3;
}

.App.dark .btn-secondary {
  color: #F3F4F6;
  border: 1px solid #404756;
}

